---
import "@/styles/global.css";
// import { ClientRouter } from "astro:transitions";

const {
  title = "Master Piscinas",
  description = "Mantenimiento de piscinas en San Juan: limpieza con ácido, desagote, pintura, cambios de piedras/multiválvula, pulido y reparaciones.",
} = Astro.props;
---

<!doctype html>
<html lang="es-AR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />

    <!-- <ClientRouter /> -->
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
